page-pagina2 {

}
.titulo{
  font-size:19px;
}

.Btn_reporte1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
.Btn_reporte2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
.Btn_reporte3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
.Btn_reporte4{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
