page-principal {
  background-color: dark;
}

ion-content{
background: rgb(229, 227, 223);
#map {
  margin-left: 35px;
  margin-top: 10px;
  width: 80%;
  height: 50%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;
  &.show-map{
    opacity: 1;
  }
}
}


.titulo{
    margin-left:10px;

}
.centrado_Btn1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.centrado_Btn2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
