page-pagina4 {

}
.titulo{
  font-size:19px;
}

.Btn_fallo1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.Btn_fallo2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.Btn_fallo3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.Btn_fallo4{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
